{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Index</title>
{#  Main HomePage contain links for login and registration #}
{% block content %}
<center>
    <h1>Welcome To Sandeep Chat app</h1><br><br>
    <button class="button" style="vertical-align:middle"><span><a href="{% url 'sign_in' %}">Login</a></span></button><br>
    <h3><a href="{% url 'signup' %}">Click Here to register!</a></h3><br><br>
    </center>
</center>>
{% endblock %}
